<% if @breweries.empty? %>
  <p>Your search returned no results.</p>
<% else %>
  <div id="breweries-list">
    <% @breweries.each do |brewery| %>
      <ul>
        <li><%= link_to brewery.name, admin_brewery_path(brewery) %></li>
        <li><%= brewery.city %></li>
      </ul>
    <% end %>
  </div>
  <%= paginate @breweries %>
<% end %>
